

.label {
    
    -fx-label-padding: 10;
    -fx-font-family: "Ariel";
    -fx-font-size: 36.0px;
    -fx-alignment:center; 
	-fx-text-alignment: center ;
    -fx-font-weight: bold;
    -fx-text-fill: black;

}
















